# 第三次课作业

## （1）Pandas基础知识

（1）用字典数据类型创建DataFrame。
data={'state':['a','b','c','d'],
'year':[1991,1992,1993,1994],
'pop':[6,7,8,9]}

In [1]:
import pandas as pd
import numpy as np
s=pd.DataFrame({'state':pd.Series(['a','b','c','d']),'year':pd.Series([1991,1992,1993,1994]),'pop':pd.Series([6,7,8,9])})
s

  state  year  pop
0     a  1991    6
1     b  1992    7
2     c  1993    8
3     d  1994    9

（2）将创建的Dataframe的索引设置为，ABCD。并且命名为“索引”。

In [2]:
s.index=list("ABCD")
s.index.name="索引"
s

   state  year  pop
索引
A      a  1991    6
B      b  1992    7
C      c  1993    8
D      d  1994    9

（3）在下面新增一行。然后删除。

In [3]:
s.loc['E']=['e',1995,10]
s

   state  year  pop
索引
A      a  1991    6
B      b  1992    7
C      c  1993    8
D      d  1994    9
E      e  1995   10

In [4]:
s.drop(['E'], inplace=True)
s

   state  year  pop
索引
A      a  1991    6
B      b  1992    7
C      c  1993    8
D      d  1994    9

In [5]:
sb=pd.DataFrame(np.random.rand(4,5))
sb.index=list('fuck')
sb.columns=list('pussy')
sb

          p         u         s         s         y
f  0.482841  0.400064  0.750061  0.243716  0.836085
u  0.327464  0.558013  0.064689  0.734216  0.791959
c  0.612467  0.418098  0.950810  0.167386  0.542922
k  0.372628  0.961103  0.802391  0.578348  0.775139

（4）增加新的属性列，列名设置为‘port’，值均为1。

In [6]:
s['port']=[1 for i in range(len(s))]
s

   state  year  pop  port
索引
A      a  1991    6     1
B      b  1992    7     1
C      c  1993    8     1
D      d  1994    9     1

（5）取出1991和1994年的数据。

In [7]:
s[(s.year==1991 )|(s.year==1994)]

   state  year  pop  port
索引
A      a  1991    6     1
D      d  1994    9     1

（6）获取前‘state’和‘year’的数据。

In [8]:
s[["state","year"]]

   state  year
索引
A      a  1991
B      b  1992
C      c  1993
D      d  1994

（7）查看每一列数据的数据格式，并且将‘pop’每个数据乘2。

In [9]:
print(s.dtypes)
print(s['pop'])
s['pop']*=2
print(s['pop'])

state    object
year      int64
pop       int64
port      int64
dtype: object
索引
A    6
B    7
C    8
D    9
Name: pop, dtype: int64
索引
A    12
B    14
C    16
D    18
Name: pop, dtype: int64

## （2）数据操作

（1）读取香港酒店数据。

In [10]:
df=pd.read_excel("香港酒店数据.xlsx",index_col=0)

（2）按照数据的内容，重新设置数据的索引，重新设置列名称为'名字','类型','城市','地区','地点','评分','评分人数','价格'。

In [11]:
df.head()

,字段1,字段2,字段3,字段4,字段5,字段6,字段7,字段8
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
1.0,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
2.0,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
3.0,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0

In [12]:
df.index=list(range(1,len(df)+1))

In [13]:
df.head()

,字段1,字段2,字段3,字段4,字段5,字段6,字段7,字段8
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
3,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
4,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
5,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0

In [14]:
df.drop(1, axis=0, inplace=True)
df.index=range(1, len(df) + 1)
df.head()

,字段1,字段2,字段3,字段4,字段5,字段6,字段7,字段8
1,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
2,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
3,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0
5,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0

In [15]:
df.columns=['名字','类型','城市','地区','地点','评分','评分人数','价格']

（3）查看所有类型为“浪漫情侣”的酒店

In [16]:
love=df[df["类型"]=="浪漫情侣"]

（4）查看所有类型为“浪漫情侣”，地区在湾仔的酒店

In [17]:
bayboy=love[love["地区"]=="湾仔"]
bayboy

,名字,类型,城市,地区,地点,评分,评分人数,价格
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0
6,香港隆堡柏宁顿酒店(Hotel Pennington by Rhombus),浪漫情侣,香港,湾仔,铜锣湾边宁顿街13-15号,4.5,1938.0,869.0
24,香港南洋酒店(South Pacific Hotel),浪漫情侣,香港,湾仔,摩理臣山道23号,4.5,7981.0,445.0
36,香港遨舍卫兰轩(OZO Wesley Hong Kong),浪漫情侣,香港,湾仔,湾仔轩尼诗道22号,4.6,3283.0,871.0
68,香港星网商务精品酒店(Wifi Boutique Hotel),浪漫情侣,香港,湾仔,湾仔 骆克道366号,4.4,1527.0,412.0
73,香港丽骏酒店(Brighton Hotel Hong Kong),浪漫情侣,香港,湾仔,湾仔骆克道128号,4.5,2383.0,1152.0
124,香港逸兰精品酒店(Lanson Place Hotel),浪漫情侣,香港,湾仔,铜锣湾礼顿道133号,4.7,2053.0,1349.0
129,香港珀丽酒店(Rosedale Hotel Hong Kong),浪漫情侣,香港,湾仔,铜锣湾信德街8号,4.4,7342.0,457.0
134,英皇骏景酒店(香港湾仔店)(The Emperor Hotel),浪漫情侣,香港,湾仔,皇后大道东373号,4.5,1040.0,526.0
160,香港华丽铜锣湾酒店(原香港华丽精品酒店)(Best Western Hotel Causew...,浪漫情侣,香港,湾仔,铜锣湾坚拿道西祥和里,4.2,5707.0,309.0
161,香港铜锣湾智选假日酒店(Holiday Inn Express Hong Kong Caus...,浪漫情侣,香港,湾仔,铜锣湾 霎东街33号,4.5,4550.0,774.0
183,香港问月酒店(Mira Moon Hong Kong),浪漫情侣,香港,湾仔,谢斐道388号,4.5,1044.0,1282.0
184,帆船精品酒店(VELA BOUTIQUE HOTEL),浪漫情侣,香港,湾仔,摩理臣山道84-86号,4.2,2063.0,413.0
185,铜锣湾迷你精品酒店(Mini Hotel Causeway Bay),浪漫情侣,香港,湾仔,铜锣湾新会道8号,4.3,4882.0,368.0
218,香港君临海域酒店(Gloucester Hotel),浪漫情侣,香港,湾仔,铜锣湾告士打道218号,4.5,2324.0,957.0

（5）查看所有地址在观塘或者油尖旺，评分大于4的酒店

In [18]:
# 错误1：使用了位运算符，应使用逻辑运算符
# 错误2：使用了双等号，应使用单等号
# 错误3：使用了英文字符串，应使用中文字符串
# 正确的代码为：
df[(df['地区'].isin(['观塘', '油尖旺'])) & (df['评分'] > 4)]

,名字,类型,城市,地区,地点,评分,评分人数,价格
3,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
5,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0
7,海景嘉福洲际酒店(InterContinental Grand Stanford Hong ...,海滨风光,香港,油尖旺,尖沙咀東部麽地道70号,4.7,4366.0,1296.0
9,香港富豪九龙酒店(Regal Kowloon Hotel),休闲度假,香港,油尖旺,尖沙嘴麽地道71号,4.5,11265.0,692.0
11,香港广易商务宾馆(家庭旅馆)(WIDE EVER HOSTEL),地铁周边,香港,油尖旺,九龙旺角弥敦道607号新兴大厦14楼16单位,4.1,1029.0,218.0
...,...,...,...,...,...,...,...,...
364,香港珊瑚酒店(家庭旅馆)((Coral Inn)(Hostel)),地铁周边,香港,油尖旺,香港九龙尖沙咀弥敦道83-97号华源大厦9/F十楼D2室,4.4,149.0,379.0
373,香港意乐旅馆(eLog Inn),地铁周边,香港,油尖旺,佐敦道22号鸿运大厦4字楼H室,4.3,155.0,237.0
379,香港牛津尊贵旅舍(Oxford Premium Guest House),NaN,香港,油尖旺,尖沙咀弥敦道56-58号美丽都大厦16字楼A2室,4.7,15.0,NaN
380,香港恒好宾馆(Hang Ho Hostel),地铁周边,香港,油尖旺,九龙弥敦道242号立信大厦6字楼B室,4.5,142.0,445.0
396,香港御珑馆(家庭旅馆)(Hotel Conext),地铁周边,香港,油尖旺,九龙弥敦道240号立信大厦3楼B室,4.2,359.0,317.0

（6）查看类型缺失的数据

In [20]:
df[df["类型"].isnull()]

,名字,类型,城市,地区,地点,评分,评分人数,价格
40,香港颐庭酒店(铜锣湾店)(Eco Tree Hotel Causeway Bay),NaN,香港,东区,铜锣湾水星街15号,4.6,15.0,567.0
188,工業家酒店(IND Hotel),NaN,香港,观塘,九龙观塘观塘道326号,4.2,6.0,448.0
201,香港永倫800酒店(WINLAND800HOTEL),NaN,香港,葵青,新界青衣路一号,3.4,3098.0,196.0
242,香港港湾酒店(Hong Kong Harbor Hotel),NaN,香港,南区,香港仔石排湾道47号,3.8,709.0,259.0
269,香港奥斯酒店(O‘ Hotel),NaN,香港,九龙城,香港九龙土瓜湾九龙城道42-46号,3.7,869.0,369.0
285,"巴黎旅馆(Paris Guest House (D2, 10/F))",NaN,香港,NaN,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5.0,67.0
301,香港海景渡假乐园(Hong Kong Seaview Holiday Resort),NaN,香港,离岛,大屿山梅窝东湾头路11号,2.9,5.0,881.0
302,香港海边小屋(The Cove Hostel),NaN,香港,离岛,"大屿山塘福村17D,1-2字楼",NaN,2.0,352.0
305,香港和平宾馆(HK Peace Guest House),NaN,香港,NaN,尖沙咀弥敦道58号美丽都大厦13楼A5室,NaN,NaN,201.0
307,香港文苑宾馆(Man Yuen Hotel),NaN,香港,油尖旺,旺角弥敦道737号金轮大厦二楼H室,4.7,5.0,169.0
316,墨尔本宾馆(Melbourne Hostel),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦E座10字楼E1室,NaN,2.0,93.0
319,香港百丽旅馆(Park Guest House),NaN,香港,油尖旺,九龙尖沙咀海防道53至55号海防大厦1楼10号,NaN,6.0,445.0
322,香港尊贵旅馆(Hong Kong Premium Guest House),NaN,香港,油尖旺,"尖沙咀弥敦道56-58号美丽都大厦16字楼B2,A5室（前台入住办理设在16字楼A2室）",4.8,19.0,166.0
323,香港美华宾馆(Mei Wah Guest House),NaN,香港,NaN,九龙旺角弥敦道737号金轮大厦9字楼F座,4.0,27.0,250.0
324,香港威尼斯宾馆,NaN,香港,NaN,香港油尖旺区旺角弥顿道580号恒隆大厦4楼,4.7,48.0,298.0
328,80后潘多拉旅馆(香港佐敦店)(原华丰宾馆)(Pandora After 80s Jordan),NaN,香港,油尖旺,九龙佐敦佐敦道15号华丰大厦1字楼H室,3.1,36.0,70.0
336,香港Primo旅馆(Primo Guesthouse),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦E座3字楼E3室,NaN,1.0,131.0
338,纳里旅馆(Narli Guest House),NaN,香港,油尖旺,尖沙咀弥敦道36-44号重庆大厦16字楼D座D8室,NaN,NaN,175.0
344,香港宿雾宾馆(Cebu Hotel),NaN,香港,NaN,弥敦道36-44号重庆大厦A座17字楼A6 & A7室,NaN,1.0,113.0
349,美丽宾馆(Lily Guest House),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦E座8字楼E3室（于E座8楼E1室登记入住）,NaN,NaN,165.0
365,全球旅舍(Global Inn),NaN,香港,NaN,弥敦道36-44号重庆大厦C座6楼C2室 (登记前台於E座8楼E1室),NaN,2.0,165.0
372,珠峰宾馆(Everest Guest House (3/F)),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦D座3字楼5-6室,NaN,1.0,181.0
379,香港牛津尊贵旅舍(Oxford Premium Guest House),NaN,香港,油尖旺,尖沙咀弥敦道56-58号美丽都大厦16字楼A2室,4.7,15.0,NaN
382,香港俄罗斯旅舍(Russian Hostel),NaN,香港,NaN,香港九龙弥敦道40号重庆大厦D座16楼1室,NaN,NaN,175.0
385,尊贵闲庭酒店(Premium Lounge),NaN,香港,NaN,"Flat A6 & A7, 16/F, Block A, Chungking Mansion...",NaN,1.0,166.0
400,香港新天天酒店(Everyday Inn Hotel),NaN,香港,油尖旺,佐敦庙街230-236号韶兴大厦5字楼B座,NaN,NaN,350.0
404,伍德斯托克旅馆(Woodstock Hostel),NaN,香港,NaN,"Flat A1-A6, 16/F, Block A, Chungking Mansions,...",NaN,NaN,172.0
405,旅客宾馆(Traveller‘s Hostel),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦A座16字楼A1& A2室,NaN,NaN,269.0
406,欧若旅馆(Euro Hostel),NaN,香港,NaN,"Flat 6, Block D, 17/F, Chungking Mansion,",NaN,NaN,174.0
407,香港Prestige旅馆(Prestige Guesthouse),NaN,香港,NaN,弥敦道40号重庆大厦E座3字楼E1室,NaN,NaN,122.0
412,香港兰涛度假屋(Lantau Lodge),NaN,香港,荃湾,大屿山水口村47A号2楼,NaN,NaN,1035.0

（7）用“其他”填充类型和地区

In [21]:
df["类型"].fillna("其他",inplace=True)

（8）用评分均值填充缺失值

In [24]:
df[df["评分"].isnull()][:5]
df["评分"].fillna(np.mean(df["评分"]),inplace=True)
df

/var/folders/r2/g05sc7zd2_736wfz3749qdzh0000gn/T/ipykernel_52514/829144579.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["评分"].fillna(np.mean(df["评分"]),inplace=True)

,名字,类型,城市,地区,地点,评分,评分人数,价格
1,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.600000,17604.0,422.0
2,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.500000,12708.0,693.0
3,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.700000,328.0,747.0
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.400000,5014.0,693.0
5,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.600000,3427.0,581.0
...,...,...,...,...,...,...,...,...
416,香港天天宾馆(TIN TIN GUEST HOUSE),地铁周边,香港,油尖旺,旺角弥敦道607号新兴大厦1517A,3.200000,16.0,227.0
417,香港AMR宾馆(AMR Hostel),地铁周边,香港,NaN,尖沙咀弥敦道58号美丽都大厦6字楼A12室,4.283827,NaN,977.0
418,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.500000,45462.0,709.0
419,香港如心海景酒店暨会议中心(L‘hotel Nina et Convention Centre),海滨风光,香港,荃湾,荃湾 杨屋道8号,4.500000,45463.0,709.0
420,香港花盈酒店(家庭旅馆)(Bloomy Hotel),地铁周边,香港,油尖旺,尖沙咀弥敦道87号华源大厦9字楼C2室,4.000000,273.0,256.0

（9）删除价格和评分人数的缺失值

In [26]:
len(df)

420

In [29]:
df=df.dropna()
len(df)

341

（10）保存到“酒店数据1.xlsx”

In [30]:
df.to_excel("酒店数据1.xlsx")