# 第四次课作业

（1）读取上次作业保存的数据，酒店数据1.xlsx

In [1]:
import pandas as pd
import numpy as np

（2）查看“评分”的格式，并分别进行升序和降序排序

In [2]:
df=pd.read_excel("../作业3/酒店数据1.xlsx",index_col = 0)
df[:5]
df["评分"].dtype

dtype('float64')

In [3]:
df.sort_values(by="评分",ascending=False)[:5]

,名字,类型,城市,地区,地点,评分,评分人数,价格
212,香港李女士宾馆(家庭旅馆)(MS LI GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道58号美丽都大厦E座5字楼E1室,4.9,7,351
339,香港新金冠宾馆(New Golden Crown Guest House),客栈,香港,油尖旺,尖沙咀弥敦道68号金冠大厦13楼C室,4.9,10,395
118,香港四季酒店(Four Seasons Hotel Hong Kong),海滨风光,香港,中西区,中环 金融街8号,4.8,3461,12926
90,奕居(The Upper House),海滨风光,香港,中西区,金钟道88号太古广场,4.8,1369,4356
249,香港新月宾馆(Sasa Inn),地铁周边,香港,九龙城,尖沙咀弥敦道87号华源大厦乘坐3号或4号电梯8楼C1,4.8,1247,486

（3）对酒店按照价格进行排名，计算“油尖旺”地区的均价。

In [4]:
print(df.sort_values(by="价格",ascending=True)[:5])

                                                   名字    类型  城市   地区  \
283          香港经济型酒店  (家庭旅馆)(Hong Kong Budget Hostel)  地铁周边  香港  油尖旺
376                      香港日夜宾馆(Day and Night Hostel)  地铁周边  香港  油尖旺
328  80后潘多拉旅馆(香港佐敦店)(原华丰宾馆)(Pandora After 80s Jordan)    其他  香港  油尖旺
194                              香港加尔文青年旅舍(HK HOSTEL)  青年旅舍  香港  油尖旺
345              香港德国旅舍Germany Hostel(Germany Hostel)  地铁周边  香港  油尖旺

                               地点   评分  评分人数  价格
283  弥敦道36-44号重庆大厦10字楼D,E座D8& E2室  2.0    29  67
376  弥敦道36-44号重庆大厦10字楼D,E座D8& E2室  3.3    63  68
328           九龙佐敦佐敦道15号华丰大厦1字楼H室  3.1    36  70
194             佐敦道13-15号华丰大厦7楼A室  4.2  1480  70
345  弥敦道36-44号重庆大厦10字楼D,E座D8& E2室  3.3    46  71

In [5]:
df[df["地区"]=="油尖旺"]["价格"].mean()

np.float64(544.3621621621621)

（4）对酒店数据进行描述性统计，并求所有价格的均值方差，最大最小值，中值。

In [6]:
df.describe()

               评分          评分人数            价格
count  341.000000    341.000000    341.000000
mean     4.303148   2875.087977    748.258065
std      0.471700   4827.933312    958.047376
min      1.500000      1.000000     67.000000
25%      4.200000    157.000000    286.000000
50%      4.400000   1148.000000    469.000000
75%      4.600000   3924.000000    871.000000
max      4.900000  45463.000000  12926.000000

In [7]:
df["价格"].median()

np.float64(469.0)

（5）计算评分和价格之间的的相关系数，协方差

In [8]:
df[["评分","价格"]].cov()

            评分             价格
评分    0.222501     139.084388
价格  139.084388  917854.774383

（6）按照评分降序排序，评分相同时按价格升序排序。

In [9]:
df.sort_values(by=["评分","价格"],ascending=[False,True],inplace=True)

（7）计算一下，评分小于3分的酒店数量和占比。

In [10]:
print(f"评分小于3.0的酒店数量为{len(df[df["评分"]<3.0])}")
print(f"评分小于3.0的酒店占比为{len(df[df["评分"]<3.0])/len(df):.2%}")

评分小于3.0的酒店数量为8
评分小于3.0的酒店占比为2.35%

（8）计算一下，酒店评分大于等于4分的酒店的价格均值。

In [11]:
print(df[df["评分"]>=4.0]["价格"].mean())

818.6894197952219

（9）计算出每个地区的酒店占总酒店数量的比例。

In [12]:
for place in df['地区'].unique():
    print(f"{place}的酒店占比为{len(df[df['地区']==place])/len(df):.2%}")

油尖旺的酒店占比为54.25%
九龙城的酒店占比为6.16%
离岛的酒店占比为3.23%
中西区的酒店占比为9.68%
屯门的酒店占比为0.59%
沙田的酒店占比为1.17%
湾仔的酒店占比为12.02%
东区的酒店占比为4.69%
元朗的酒店占比为0.59%
观塘的酒店占比为2.05%
荃湾的酒店占比为2.05%
葵青的酒店占比为1.47%
南区的酒店占比为1.47%
深水埗区的酒店占比为0.29%
罗湖区的酒店占比为0.29%

（10）找出酒店评分人数排名前20的酒店，并计算他们的价格均值。

In [13]:
df.sort_values(by="评分",ascending=False)[:20]["价格"].mean()

np.float64(2430.05)

（11）查看酒店分布的类型数量和地区数量，并统计各个类型和地区包含的酒店数量。

In [14]:
# print(df.columns)
print(len(df["地区"].unique()))
# print(df["地区"].unique())
print(f"number of hotels for each area:{df["地区"].value_counts(ascending=False)}")
print(len(df["类型"].unique()))
# print((df["类型"].unique()))
print(f"the number of hotels for each type is: {df["类型"].value_counts(ascending=False)}")

15
number of hotels for each area:地区
油尖旺     185
湾仔       41
中西区      33
九龙城      21
东区       16
离岛       11
观塘        7
荃湾        7
葵青        5
南区        5
沙田        4
屯门        2
元朗        2
深水埗区      1
罗湖区       1
Name: count, dtype: int64
16
the number of hotels for each type is: 类型
地铁周边     134
浪漫情侣      67
海滨风光      61
休闲度假      31
商务出行      13
其他        11
亲子酒店       5
酒店公寓       5
青年旅舍       4
客栈         2
环境不错       2
民宿         2
交通方便       1
火车站周边      1
老板热情       1
干净卫生       1
Name: count, dtype: int64

In [ ]:
df["价格"].dtype

dtype('int64')

In [ ]:
df['价格']=df['价格'].astype("float")

In [26]:
df['价格'].dtype

dtype('float64')

（12）用数据透视表，计算每个类型的酒店的评分人数总数量。

In [15]:
df.columns

Index(['名字', '类型', '城市', '地区', '地点', '评分', '评分人数', '价格'], dtype='object')

In [16]:
# 用数据透视表，计算每个类型的酒店的评分人数总数量
pivot_table_ratings = pd.pivot_table(df, index=['地区'], values=['评分','价格','评分人数'], aggfunc={'评分人数':'sum','价格':'mean','评分':'mean'})
# print("原始数据透视表:")
# print(pivot_table_ratings)
print("\n排序:")
print(pivot_table_ratings.sort_values(by=['评分人数','评分'], ascending=[False,False]))

排序:
               价格        评分    评分人数
地区
油尖旺    544.362162  4.194714  422574
荃湾     480.428571  4.442857  114610
湾仔     829.243902  4.375610  107344
离岛    1033.363636  4.371257   60359
中西区   1978.121212  4.548485   59682
东区     759.937500  4.480239   56643
九龙城    640.476190  4.428571   49855
沙田     848.000000  4.575000   39622
观塘     661.428571  4.500000   19137
元朗     423.500000  4.550000   18804
南区     364.200000  4.220000   12867
葵青     342.200000  4.040000   11544
屯门     639.000000  4.600000    7324
罗湖区    506.000000  4.283827      24
深水埗区   648.000000  4.300000      16

In [17]:
pd.pivot_table(df,index=["地区","类型"],values='价格')

              价格
地区 类型
东区 其他    567.000
   商务出行  609.000
   客栈    553.000
   浪漫情侣  881.000
   海滨风光  787.125
...          ...
葵青 浪漫情侣  378.750
观塘 休闲度假  893.000
   其他    448.000
   浪漫情侣  588.000
   海滨风光  610.000

[65 rows x 1 columns]

（13）用数据透视表，计算每个类型的酒店价格的均值和标准差

In [18]:
# 用数据透视表，计算每个类型的酒店价格的均值和标准差
price_stats = df.pivot_table(index='类型', values='价格', aggfunc=['mean', 'std'])
print(price_stats)

              mean          std
                价格           价格
类型
交通方便    421.000000          NaN
亲子酒店    745.400000   546.616227
休闲度假   1127.774194   827.492707
其他      356.545455   229.038583
商务出行   1045.153846   870.595663
地铁周边    392.007463   406.375368
客栈      474.000000   111.722871
干净卫生    185.000000          NaN
民宿      331.500000   246.780267
浪漫情侣    614.000000   302.302076
海滨风光   1543.573770  1746.828349
火车站周边   968.000000          NaN
环境不错    448.500000    50.204581
老板热情    385.000000          NaN
酒店公寓   1182.000000   697.624899
青年旅舍    189.250000   116.851401

（14）用数据透视表，计算每个地区酒店价格和评分的最大值和最小值

In [21]:
df.pivot_table(index="地区",values=["价格","评分"],aggfunc=["max","min"])

        max            min
         价格        评分   价格        评分
地区
东区     1908  4.700000  331  4.200000
中西区   12926  4.800000  254  3.800000
九龙城    1742  4.800000  137  3.700000
元朗      425  4.600000  422  4.500000
南区      553  4.400000  185  3.800000
屯门      696  4.700000  582  4.500000
沙田     1052  4.700000  569  4.400000
油尖旺    3862  4.900000   67  1.500000
深水埗区    648  4.300000  648  4.300000
湾仔     2856  4.700000  131  3.400000
离岛     1667  4.800000  352  2.900000
罗湖区     506  4.283827  506  4.283827
荃湾      709  4.500000  225  4.300000
葵青      423  4.400000  196  3.400000
观塘     1132  4.600000  448  4.200000

（15）用数据透视表，计算每个地区和类型的酒店的评分的均值和标准差

In [20]:
df.pivot_table(index=["地区","类型"],values=["评分"],aggfunc=['mean','std'])

             mean       std
               评分        评分
地区 类型
东区 其他    4.600000       NaN
   商务出行  4.500000  0.000000
   客栈    4.283827       NaN
   浪漫情侣  4.425000  0.150000
   海滨风光  4.512500  0.155265
...           ...       ...
葵青 浪漫情侣  4.200000  0.230940
观塘 休闲度假  4.600000  0.000000
   其他    4.200000       NaN
   浪漫情侣  4.550000  0.070711
   海滨风光  4.500000  0.141421

[65 rows x 2 columns]